# Flutter 官方推荐
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/.idea/
android/app/release/
android/app/debug/
android/app/profile/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/.last_build_id
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/

# Web
web/.dart_tool/

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# 日志
*.log
flutter_console.log